<style>
body {
 height:100vh;
 margin:0;
 background:white;
}
body:before {
 content:"";
 position:absolute;
 top:8%;
 bottom:-12px;
 left:-37%;
height:40%;
 width:100%;
 background:#4a148c;
 transform:skew(-75deg);
}
.tri{
background-color: white;
height:150%;
padding:15%;
border:solid 1px #4a148c;
border-radius:30px;
}

.imp{
color:#4a148c;
}
</style>

<span style="color:white" class="font-weight-bold"><h1>IB : Interview Bot</h1></span>
<img src="{{ url_for('static',filename='images/icon.png') }}" style="height:150px;width:150px;"></img>
