{% extends "layout.html"%}
{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-6">
            {% include  "includes/_background_heading.html" %}
        </div>

        <div class="col-md-6 tri shadow-lg p-3 mb-5 bg-white rounded">
            <div class="font-weight-bold text-center">
                <p class="imp">
                    <h3>Login to your account</h3>
                </p>
            </div>
            <form action="" method="POST">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Enter your username"
                        required />
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Enter your password"
                        required />
                </div>
                <button class="btn btn-primary form-group form-control" type="submit">Login</button>

                <center><a href="/register" class="text-center" style="color:red">Not having an account ? Register
                        Now</a></center>
            </form>
        </div>

    </div>
    <div class="row">
        {% include  "includes/_intro_message.html" %}
        <div class="col-md-6 font-weight-bold">
            </br>

        </div>
    </div>
</div>
{% endblock %}