{% extends "layout.html"%}
{% block body %}
<br/>
<br/>
<div class="container">
<div class="card text-center">
  <div class="card-header">
	Mock Interview 
  </div>
  <div class="card-body">
    <h5 class="card-title">It seems you want to give mock Interview<br/> <span style="color:red">But you are not logged in your account.</span></h5>
    <p class="card-text">For giving a mock interview you need to have a account with us, which is very simple to create</p>
    <a href="/register" class="btn btn-success">Create Account</a>
    <a href="/login" class="btn btn-danger">Login to your account</a>
  </div>

</div>
</div>
{% endblock %}
