{% extends "home.html"%}
{% block title %}
Interview Bot <br />
Subscription
{% endblock %}
{% block container %}
<script>
    function planselect(id) {
        var plan = {
            planName: "",
            noOfInterviews: 0,
            price: 0
        };
        switch (id) {
            case 100:
                plan.planName = "Basic Plan";
                plan.noOfInterviews = 5;
                plan.price = 50;
                break;
            case 101:
                plan.planName = "Plus Plan";
                plan.noOfInterviews = 10;
                plan.price = 100;
                break;
        }
        $("#planName").text(plan.planName);
        $("#noOfInterviews").val(plan.noOfInterviews);
        $("#totalPrice").text(plan.price);
    }
</script>

<div class="container-fluid">

    <div class="row  shadow p-3 mb-5 bg-white rounded" style="margin:2%">
        <h5>Available Interviews <span class="color:red">{{available}}</span></h5>
    </div>
    <div class="row ">
        <div class="col-md-5 shadow p-3 mb-5 bg-white rounded" style="margin:2%">
            <div class="card text-white bg-danger mb-3" style="max-width: 35rem;" onclick="planselect(100)">
                <div class=" card-header">Basic Plan</div>
                <div class="card-body">
                    <h5 class="card-title">50 Rs Plan</h5>
                    <p class="card-text">
                        <ul>
                            <li>
                                5 Interviews
                            </li>
                        </ul>
                    </p>
                    <form action="charge" method="POST">
                        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_SwjYDE0pT0UJv8"
                            data-amount="5000" data-name="Standard Pack" data-description="5 Interviews"
                            data-image="{{ url_for('static',filename='images/icon.png') }}" data-netbanking="true"
                            data-description="InterviewBot">
                            </script>
                        <input type="hidden" name="shopping_order_id" value="21">
                        <input type="hidden" name="amount" value="5000">

                        <input type="number" name="no" id="noOfInterviews" value="5" hidden />
                    </form>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 35rem;" onclick="planselect(101)">
                <div class="card-header">Plus Plan</div>
                <div class="card-body">
                    <h5 class="card-title">100 Rs Plan</h5>
                    <p class="card-text">
                        <ul>
                            <li>
                                10 Interviews
                            </li>
                            <li>
                                Access to Interview Material
                            </li>
                        </ul>
                    </p>
                    <form action="charge" method="POST">
                        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_SwjYDE0pT0UJv8"
                            data-amount="10000" data-name="Plus Pack"
                            data-description="10 Interviews + Interview Material"
                            data-image="{{ url_for('static',filename='images/icon.png') }}" data-netbanking="true"
                            data-description="InterviewBot">
                            </script>
                        <input type="hidden" name="shopping_order_id" value="21">
                        <input type="hidden" name="amount" value="10000">

                        <input type="number" name="no" id="noOfInterviews" value="10" hidden />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5 shadow p-3 mb-5 bg-white rounded" style="margin:2%">
            <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
                <div class="card-header">Your Selected Plan</div>
                <div class="card-body">
                    <div id="planName">

                    </div>
                    <div class="card-header" id="totalPrice">Select Your Plan</div>
                </div>
            </div>
            <!--
            <form action="/subscription" method="POST">
                <input type="number" name="no" id="noOfInterviews" hidden />
                <button class="btn btn-danger" type="submit">Use This if you don't want to go for payment
                    gateway</button>
            </form>
            -->
        </div>
    </div>
</div>
</div>
<style>
    .razorpay-payment-button {
        background-color: white;
        color: red;
        border-radius: 10px;
        padding: 2%;
    }
</style>
{% endblock %}